<h1>Sandwiches!</h1>

<h2>Sandwiches to Devour!</h2>

<ul>
    {{#each sandwich}}
    {{#unless devoured}}
    {{> sandwich-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Sandwiches that have been devoured!</h2>

<ul>
    {{#each sandwich}}
    {{#if devoured}}
    {{> sandwich-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a sandwich</h2>
<form class="create-form">

    <div class="form-group">
        <label for="sammy">Sandwich Name:</label>
        <input type="text" id="sammy" name="sandwich_name">
    </div>

    {{!-- <div class="form-group">
    <label for="devour">devour?</label><br>
    <input type="radio" name="devour" value="1" checked> devour!<br>
    <input type="radio" name="devour" value="0"> Order Another!
    </div> --}}

    <button type="submit">Add sandwich</button>
</form>